.section1 {
    display: flex;
    flex-direction: row;
    background: #011627;
    background-image: url("../images/Sec1back.png");
    width: 100%;
    height: 160px;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
    font-family: peyda-medium;


}

.text {
    display: flex;
    margin-right: 52px;
}

.text div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.text h2 {
    color: #FFF;
    text-align: right;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text {
    color: #BFC4D5;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text img {
    display: flex;
    width: 62px;
    height: 62px;
    padding: 6.458px 6.736px 6.458px 5.167px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10px;

}

.number {
    color: var(--basic-color-white, #FFF);
    text-align: right;
    /* Heading/H 2 */
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 52px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    border-bottom: solid rgba(189, 197, 221, 0.80) 1px;
    padding-bottom: 20px;
    font-family: peyda-medium;
}

.section2 img {
    margin: 10px;
}

.logo {
    display: flex;
    width: 160px;
    gap: 12px;
    margin-left: 42px;


}

.logo h2 {
    color: #000;

    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo p {
    color: #7E8AAB;
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    width: 1500px;
    font-family: peyda-light;
}

.logoImage {
    display: flex;
    flex-direction: column;
    width: 64 .899px;
    height: 74.049px;

}

.section3 {
    display: flex;
    justify-content: space-around;

}

.section3 h3 {
    color: #000;
    text-align: right;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: peyda-medium;
}

.section3 li {
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    margin: 20px 0;

    /* body/body xs */
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    list-style: none;
    font-family: peyda-light;
}

.services img {
    width: 35px;
    height: 37px;
}

.locationtext {
    display: flex;
    margin-bottom: 10px;


}

.contact li {
    display: flex;
    margin-bottom: 50px;
}

.firstlist {
    display: flex;
    flex-direction: column;
}

.contact li p {
    margin: 0 10px;
    margin-left: 20px;
}

.enamad {
    display: inline-flex;
    width: 140px;
    height: 157px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 40px;
}

.section4 {
    margin: auto;
    background: #0CA0A2;
    width: 1219px;
    height: 123px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    position: relative;
}

.background {
    opacity: 0.1;
}

.demotext {
    width: 1219px;
    height: 123px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45px;
    font-family: peyda-medium;

}

.demotext h2 {
    margin-right: 45px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.demotext div {
    position: absolute;
    bottom: 65px;
    left: 5px;
    display: flex;
    margin-left: 45px;
    width: 170px;
    height: 45px;
    padding: 17px 31px;
    border-radius: 13px;
    background: var(--basic-color-white, #FFF);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 14px 24px 0px rgba(57, 89, 248, 0.31);


}

.demotext img {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

}

.demotext p {
    color: var(--primary-color-primary-color, #0CA0A2);
    text-align: center;
    /* button/button-sm */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
}

.copyright {
    margin: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: peyda-thin;
}
.copyright p {
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.textc {
    display: flex;
}

/* .textc p {
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    font-family: Peyda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    font-family: Peyda;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */

.textc img {
    justify-content: start;
    margin-left: 10px;
}