.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.calculater{
    position: relative;
    right:130px;
    bottom: 500px;
}
.search{
    position: relative;
    right: 0px;
    bottom: 250px;
}
.chat{
    position: relative;
    right: 150px;
    bottom: 150px;
}
.managment{
    position: relative;
    right: 300px;
    bottom: 250px;
}
.app{
    position: relative;
    right: 1050px;
    bottom: 800px;
}
.front{
    z-index: 1;

}
.back{
    z-index: 2;
    position: absolute;
    bottom: 700px;
    right: 100px;
    transform: rotate(-25deg);
}